img{
/**border-radius: 50%;**/
display: block;
margin: 0 auto;

width: 65%;
height: auto;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background-color: white;
}

.patient{
text-align: center
}

.dropdownMenu {
  width: 700px;
  height: 100px;
}

button.btn-xl {
    font-size: 50px;
    border-radius: 10px;





}
