/* ignore, it just sets what margin and padding I want for the body, so I can shift possition */
html, body {
    margin: 0;
    padding: 0;
}

h1.shift {  /*shift the margin 250px from the left*/
  padding-left: 250px;
}
